* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #2b283a;
  margin: 0;
}

header {
  width: 100%;
  background-color: #b80000; 
}

header h1 {
  margin: 0;
  font-size: 1rem;
  color: whitesmoke;
  padding: 1em;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

p {
  margin: 0;
}

h4 {
  margin: 0;
}

/* Main Params form */

.main-parameters {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.parameters-pair {
  display: flex;
  height: 3rem;
  justify-content: space;
  gap: 1rem;
}

.parameters-pair input {
  flex: 1;
}

/* Ingredients form */

.ingredient-input {
  display: flex;
  width: 48.8%;
  gap: 0.25em;
  align-items: center;
}

.ingredients-container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.btn-add-ingredient {
  height: 3rem;
}

/* Breakpoints */

@media (min-width: 768px) {
  header {
    padding: 2em 2.25em;
  }

  h1 {
    font-size: 2rem;
  }
}